@import './mixins-and-variables.scss';

#about-page {
  padding: 0 4rem;
  height: 100%;
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 500;

    &.lg-heading {
      font-size: 4.5rem;
    }
  }

  .text-secondary {
    color: $secondary-color;
  }

  .bio-text {
    line-height: 1.2;
    font-size: 1.2rem;
  }

  .stack-icon {
    margin: 0 1.2%;
  }
}

.bio-image {
  width: 40vh;
  height: 40vh;
  background: url('../assets/portrait.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 3px $secondary-color;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'stack stack stack'
    'job2 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .stack {
    text-align: center;
    grid-area: stack;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    border-radius: 20px;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 15px solid;
    border-right: $secondary-color 15px solid;
  }
}

@include mediaMd {
  #about-page {
    padding: 2rem 2rem;
    height: 100%;
  }
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .bio-image {
    background: url('../assets/portrait.jpg') cover;
    width: 25vh;
    height: 25vh;
  }
}

@include mediaSm {
  #about-page {
    padding: 2rem 2rem;
    height: 100%;
  }
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;

    .bio-image {
      background: url('../assets/portrait.jpg') cover;
      width: 25vh;
      height: 25vh;
    }
    bio {
      grid-area: bio;
      font-size: 1.5rem;
    }

    .job-1 {
      grid-area: job1;
    }

    .job-2 {
      grid-area: job2;
    }

    .job-3 {
      grid-area: job3;
    }

    .job {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
}
