@import './mixins-and-variables.scss';

#work-page {
  padding: 2rem 6rem;
  h1 {
    &.lg-heading {
      font-size: 4.5rem;
      color: $quinary-color;
    }
  }

  .text-secondary {
    color: $tertiary-color;
  }

  &:after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($secondary-color, 0.95);
  }

  .projects {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-areas:
      'item item'
      'item item';
    grid-template-columns: repeat(2, 1fr);

    .item {
      grid-area: 'item';

      h3 {
        padding: 0.5rem 1rem;
        color: $tertiary-color;
        font-weight: bold;
        text-align: center;
        margin-top: 0.3rem;
        background-color: lighten($quinary-color, 5);
        border-radius: 20px;
      }

      .project-desc {
        color: #fff;
        margin-top: 0.3rem;
        padding: 0.5rem 1rem;
        background-color: $primary-color;
        border-radius: 20px;

        .desc-section {
          border-radius: 20px;
          text-align: center;
          background-color: $tertiary-color;
          color: #fff;
          margin: 0.5rem;
          padding: 0.2rem;
        }
      }
    }

    img {
      width: 100%;
      height: 25rem;
      border: 3px $tertiary-color solid;
    }

    .image {
      margin-bottom: -5px;
    }
  }

  .carousel .control-next.control-arrow:before {
    border-left: 8px solid $tertiary-color;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid $tertiary-color;
  }

  .carousel .control-dots .dot {
    background: $quinary-color;
    width: 10px;
    height: 10px;
  }
  .btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 20px;
    margin: 5px auto;
    text-align: center;
    align-items: center;
    text-decoration: none;
  }

  .btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;

    &:hover {
      background: darken($primary-color, 30);
    }
  }

  .btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;

    &:hover {
      background: darken($primary-color, 30);
      color: #fff;
    }
  }
}
@include mediaLg {
  #work-page {
    padding: 2rem 2rem;

    .projects {
      grid-gap: 4rem;
    }
  }
}

@include mediaMd {
  #work-page {
    padding: 2rem 1rem;

    .projects {
      grid-gap: 2rem;
      grid-template-areas:
        'item'
        'item'
        'item'
        'item';
      grid-template-columns: repeat(1, 1fr);
    }

    .image img,
    .screenshot img {
      height: 20%;
    }
  }
}
