@import './styles/mixins-and-variables.scss';

* {
  box-sizing: border-box;
}

body {
  @include background();
  height: 100%;
  margin: 0;
  background-color: $primary-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
